
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Ranchers&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

button{ 
    background-color: #ffcc66;
    padding: 15px;
    border-radius: 15px;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
}

button:hover{
    cursor: pointer;
    opacity: 0.7;
}

a{
    text-decoration: none;
    font-weight: 300;
}

a:hover{
    font-weight: 500;
}

/* ------ NAVBAR ----- */
nav{
    background-color: #BF7267;
}

/* ------ HERO/MISSION STATEMENT ----- */

#hero{
    background-image: url('hannah.jpg');
    height: 800px;
    background-size: cover;
    display: flex;
    justify-content: center; 
    align-items: center;
}

.title{
    font-family: 'Ranchers', cursive; 
    letter-spacing: 0.3em;
    color: #ffcc66;
    font-size: 64px;
    text-shadow: 2px 2px #664400;
    /* text-align: center; */
}

.lead{
    color: #291603;
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    text-shadow: 1px 1px #75623d;
}

.mission{
    background-color: rgb(223, 199, 185, 0.3);
    width: 600px;
    padding: 30px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* ------ THE PROCESS/HOW IT WORKS ------*/
#process{
    background-color: #A96483;
}

i{
    font-size: 10em;
    color: #ffcc66;
    padding: 20px;
}

#process .card{
    display: flex;
    align-items: center;
}

.card .description{
    height: 100px;
    width: 200px;
}

#process .container1{
    display: flex;
}

/* ------ PREVIEW/DISPLAY ----- */
#preview{
    background-color: #BF7267;
}

/* ----- ABOUT & TEAM ----- */

.container2{
    background-color: #B067BF;
}

/* ----- FOOTER ----- */

footer{
    background-color: #BF7267;
}