
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Ranchers&display=swap');

/* --------- GLOBAL -------- */
:root{
    --orange: rgb(212, 145, 94);
    --oliveGreen: rgb(147, 197, 103);
    --eggplant: rgb(83, 59, 77);
    --khakiGreen: rgb(76, 80, 63);
    --lilac: rgb(101, 126, 212); 
    --mutedBlue: rgb(96, 117, 172);
    --yellow: #ffcc66;
    --mauve: #A96483;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

button.primary{ 
    /* background-color:var(--oliveGreen); */
    background-color: var(--yellow);
    color: #000;
    border: 4px dashed rgb(31, 30, 26);
    padding: 15px;
    border-radius: 15px;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    margin: 10px;
}

button.secondary{
    background-color: transparent;
    /* padding: 15px; */
    border-radius: 50px;
    border: 5px solid var(--eggplant);
    color: rgb(59, 45, 56);
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    margin: 10px;
    padding: 10px;
    height: 4rem;
    width: 11rem;
    text-align: center;
    
} 

button:hover{
    cursor: pointer;
    opacity: 0.7;
}

button.primary:hover{
    border: 4px solid rgb(31, 30, 26);
}

button.secondary:hover{
    border: 5px dotted var(--eggplant);
}

a{
    text-decoration: none;
    font-weight: 300;
}

a:hover{
    font-weight: 500;
    
}

h2{
    text-align: center;
    font-family: 'Ranchers', cursive; 
    font-size: 48px;
    letter-spacing: 0.1em; 
}

ul{
    list-style: none;
}
/* ------ NAVBAR ----- */
nav{
    background-color: var(--orange);
    height: 10rem;
    padding: 3rem 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row wrap;
}

nav ul{
    display: flex;
    list-style: none;
    flex-shrink: 2;
}

nav button{
    flex-shrink: 1;
}

nav ul li{
    padding: 5px;
    margin: 5px 10px;

}

nav ul li a{
    color: rgb(147, 197, 103);
    font-size: 2em;
    font-weight: bold;
    text-shadow: 2px 0 0 rgb(59, 45, 56), -2px 0 0 rgb(59, 45, 56), 0 2px 0 rgb(59, 45, 56), 0 -2px 0 rgb(59, 45, 56), 1px 1px rgb(59, 45, 56), -1px -1px 0 rgb(59, 45, 56), 1px -1px 0 rgb(59, 45, 56), -1px 1px 0 rgb(59, 45, 56);
}

nav ul li a:hover{
    color: var(--eggplant);
    font-weight: bold;
}

nav ul li:active{
    color: var(--mutedBlue);
    font-weight: bold;
}

.logo{
    height: 150px;
    width: 150px;
    border-radius: 5px;
    flex-shrink: 1;
}


/* ------ HERO/MISSION STATEMENT ----- */

#hero{
    background-image: url('Assets/hannah.jpg');
    height: 800px;
    background-size: cover;
    display: flex;
    justify-content: center; 
    align-items: center;
}

.title{
    font-family: 'Ranchers', cursive; 
    letter-spacing: 0.2em;
    color: var(--orange);
    font-size: 64px;
    text-shadow: 2px 2px #EAC8AE;
    padding: 5px;
    /* text-align: center; */
}

.lead{
    color: #EAC8AE;
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    text-shadow: 1px 1px #75623d;
    padding: 5px;
}

.mission{
    background-color: rgb(76, 80, 63, 0.6);
    width: 600px;
    padding: 30px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* ------ THE PROCESS/HOW IT WORKS ------*/
#process{
    background-color: var(--oliveGreen);
}

#process h2{
    color: rgb(212, 145, 94);
}

i{
    font-size: 10em;
    color: var(--khakiGreen);
    padding: 20px;
}

#process .card{
    display: flex;
    align-items: center;
}

.card .description{
    height: 100px;
    width: 200px;
}

#process .container1{
    display: flex;
}

/* ------ PREVIEW/DISPLAY ----- */
#preview{
    background-color: var(--yellow);
}

#preview h2{
    color: var(--eggplant); 
}

.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0;
    padding: 0;
}

.cards-item{
    display: flex;
    padding: 1rem;
}

#preview .card{
    background-color: white;
}

.card-image img{
    height: auto;
    max-width: 100%;
}

/* ----- ABOUT & TEAM ----- */

.container2{
    background-color: var(--eggplant);
}

.container2 h2{
    color: var(--oliveGreen);
}

/* ----- FOOTER ----- */

footer{
    background-color: var(--orange);
}