
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Ranchers&display=swap');

:root{
    --orange: rgb(212, 145, 94);
    --oliveGreen: rgb(140, 179, 105);
    --eggplant: rgb(83, 59, 77);
    --khakiGreen: rgb(76, 80, 63);
    --lilac: rgb(101, 126, 212); 
    --mutedBlue: rgb(96, 117, 172);
    --yellow: #ffcc66;
    --mauve: #A96483;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

button.primary{ 
    background-color:var(--oliveGreen);
    padding: 15px;
    border-radius: 15px;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    margin: 5px;
}

button.secondary{
    background-color:var(--mutedBlue);
    padding: 15px;
    border-radius: 15px;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    margin: 5px;
} 

button:hover{
    cursor: pointer;
    opacity: 0.7;
}

a{
    text-decoration: none;
    font-weight: 300;
}

a:hover{
    font-weight: 500;
}

/* ------ NAVBAR ----- */
nav{
    background-color: var(--orange);
}

/* ------ HERO/MISSION STATEMENT ----- */

#hero{
    background-image: url('hannah.jpg');
    height: 800px;
    background-size: cover;
    display: flex;
    justify-content: center; 
    align-items: center;
}

.title{
    font-family: 'Ranchers', cursive; 
    letter-spacing: 0.2em;
    color: var(--orange);
    font-size: 64px;
    text-shadow: 2px 2px #EAC8AE;
    padding: 5px;
    /* text-align: center; */
}

.lead{
    color: #EAC8AE;
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    text-shadow: 1px 1px #75623d;
    padding: 5px;
}

.mission{
    background-color: rgb(76, 80, 63, 0.6);
    width: 600px;
    padding: 30px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* ------ THE PROCESS/HOW IT WORKS ------*/
#process{
    background-color: var(--oliveGreen);
}

i{
    font-size: 10em;
    color: var(--khakiGreen);
    padding: 20px;
}

#process .card{
    display: flex;
    align-items: center;
}

.card .description{
    height: 100px;
    width: 200px;
}

#process .container1{
    display: flex;
}

/* ------ PREVIEW/DISPLAY ----- */
#preview{
    background-color: var(--eggplant);
}

#preview h2{
    text-align: center;
    font-size: 52px;
    color: #EAC8AE;
}

/* ----- ABOUT & TEAM ----- */

.container2{
    background-color: var(--mutedBlue);
}

/* ----- FOOTER ----- */

footer{
    background-color: var(--orange);
}